In [1]:
import pandas as pd
ratings_movies = pd.read_csv('D:\\курс по data science\\IDE\\python_12\\data\\movies_data\\ratings_movies.csv')
print(ratings_movies)

        Unnamed: 0  userId  movieId  rating                 date  \
0                0       1        1     4.0  2000-07-30 18:45:03
1                1       1        3     4.0  2000-07-30 18:20:47
2                2       1        6     4.0  2000-07-30 18:37:04
3                3       1       47     5.0  2000-07-30 19:03:35
4                4       1       50     5.0  2000-07-30 18:48:51
...            ...     ...      ...     ...                  ...
100831      100831     610   166534     4.0  2017-05-03 21:53:22
100832      100832     610   168248     5.0  2017-05-03 22:21:31
100833      100833     610   168250     5.0  2017-05-08 19:50:47
100834      100834     610   168252     5.0  2017-05-03 21:19:12
100835      100835     610   170875     3.0  2017-05-03 21:20:15

                                 title  \
0                     Toy Story (1995)
1              Grumpier Old Men (1995)
2                          Heat (1995)
3          Seven (a.k.a. Se7en) (1995)
4           Usual Suspects, The (1995)
...                                ...
100831                    Split (2017)
100832   John Wick: Chapter Two (2017)
100833                  Get Out (2017)
100834                    Logan (2017)
100835  The Fate of the Furious (2017)

                                             genres
0       Adventure|Animation|Children|Comedy|Fantasy
1                                    Comedy|Romance
2                             Action|Crime|Thriller
3                                  Mystery|Thriller
4                            Crime|Mystery|Thriller
...                                             ...
100831                        Drama|Horror|Thriller
100832                        Action|Crime|Thriller
100833                                       Horror
100834                                Action|Sci-Fi
100835                  Action|Crime|Drama|Thriller

[100836 rows x 7 columns]

#### Для решения задач нам понадобится выделить из признака title год выпуска фильма.

In [6]:
import re
def get_year_release(arg):
    candidates = re.findall(r'\(\d{4}\)', arg)
    if len(candidates) > 0:
        year = candidates[0].replace('(', '')
        year = year.replace(')','')
        return int(year)
    else:
        return None

### Задание 8.1
#### Создайте в таблице новый признак year_release, который соответствует году выпуска фильма. У скольких фильмов не указан год их выпуска?

In [7]:
ratings_movies['year_release'] = ratings_movies['title'].apply(get_year_release)
print(ratings_movies.info())
# всего фильмов 100836, есть год у 100818, соответственно не указан год выпуска у 18 фильмов

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    100836 non-null  int64
 1   userId        100836 non-null  int64
 2   movieId       100836 non-null  int64
 3   rating        100836 non-null  float64
 4   date          100836 non-null  object
 5   title         100836 non-null  object
 6   genres        100836 non-null  object
 7   year_release  100818 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 6.2+ MB
None

### Задание 8.2
#### Какой фильм, выпущенный в 1999 году, получил наименьшую среднюю оценку зрителей? В качестве ответа запишите название этого фильма без указания года его выпуска.

In [10]:
mask = ratings_movies['year_release'] == 1999
print(ratings_movies[mask].groupby('title')['rating'].mean().sort_values())

title
Bloodsport: The Dark Kumite (1999)            0.5
Simon Sez (1999)                              1.0
Chill Factor (1999)                           1.0
Source, The (1999)                            1.0
Trippin' (1999)                               1.0
                                             ...
Trailer Park Boys (1999)                      5.0
Larry David: Curb Your Enthusiasm (1999)      5.0
Sun Alley (Sonnenallee) (1999)                5.0
George Carlin: You Are All Diseased (1999)    5.0
Five Senses, The (1999)                       5.0
Name: rating, Length: 261, dtype: float64

### Задание 8.3
#### Какое сочетание жанров фильмов (genres), выпущенных в 2010 году, получило наименьшую среднюю оценку (rating)? Запишите сочетание так же, как оно указано в таблице (через разделитель |, без пробелов).

In [11]:
genres = ratings_movies['year_release'] == 2010
print(ratings_movies[genres].groupby('genres')['rating'].mean().sort_values())

genres
Action|Sci-Fi                        1.000000
Action|Adventure|Horror              1.500000
Action|Drama|Fantasy                 1.500000
Crime|Romance                        1.500000
Adventure|Comedy|Fantasy             1.833333
                                       ...
Crime                                4.750000
Comedy|Musical                       5.000000
Animation|Drama|Fantasy|Mystery      5.000000
Adventure|Children|Comedy|Mystery    5.000000
Animation|Children|Mystery           5.000000
Name: rating, Length: 119, dtype: float64

### Задание 8.4
#### Какой пользователь (userId) посмотрел наибольшее количество различных (уникальных) комбинаций жанров (genres) фильмов? В качестве ответа запишите идентификатор этого пользователя.

In [17]:
print(ratings_movies.groupby
      ('userId')['genres'].nunique().sort_values(ascending=False))

userId
599    524
414    482
448    403
380    399
474    395
      ...
578     15
12      15
85      13
214     13
245     13
Name: genres, Length: 610, dtype: int64

### Задание 8.5
#### Найдите пользователя, который выставил наименьшее количество оценок, но его средняя оценка фильмам наибольшая. В качестве ответа укажите идентификатор этого пользователя.

In [18]:
print(ratings_movies.groupby(
    'userId')['rating'].agg(
        ['count','mean']
    ).sort_values(['count','mean'], ascending=[True, False])
      )

        count      mean
userId
53         20  5.000000
595        20  4.200000
189        20  4.100000
569        20  4.000000
278        20  3.875000
...       ...       ...
274      1346  3.235884
448      1864  2.847371
474      2108  3.398956
599      2478  2.642050
414      2698  3.391957

[610 rows x 2 columns]

### Задание 8.6
#### Найдите сочетание жанров (genres) за 2018 году, которое имеет наибольший средний рейтинг (среднее по столбцу rating), и при этом число выставленных ему оценок (количество значений в столбце rating) больше 10.Напишите сочетание так же, как оно указано в таблице (через разделитель |, без пробелов).

In [19]:
mask_genres = ratings_movies['year_release'] == 2018
grouped_genres = ratings_movies[mask_genres].groupby(
    'genres')['rating'].agg(['mean','count'])
print(grouped_genres[
    grouped_genres['count']>10].sort_values(
        by='mean',
        ascending=False
    ))

                             mean  count
genres
Action|Adventure|Sci-Fi  3.928571     14
Action|Comedy|Sci-Fi     3.875000     12

### Задание 8.7
#### Добавьте в таблицу новый признак year_rating — год выставления оценки. Создайте сводную таблицу, которая иллюстрирует зависимость среднего рейтинга фильма от года выставления оценки и жанра. Выберите верные варианты ответа, исходя из построенной таблицы:

In [21]:
ratings_movies['date'] = pd.to_datetime(ratings_movies['date'])
ratings_movies['year_rating'] = ratings_movies['date'].dt.year
print(ratings_movies.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    100836 non-null  int64
 1   userId        100836 non-null  int64
 2   movieId       100836 non-null  int64
 3   rating        100836 non-null  float64
 4   date          100836 non-null  datetime64[ns]
 5   title         100836 non-null  object
 6   genres        100836 non-null  object
 7   year_release  100818 non-null  float64
 8   year_rating   100836 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(2)
memory usage: 6.9+ MB
None

In [30]:
pivot = ratings_movies.pivot_table(
    index='year_rating',
    columns='genres',
    values='rating',
    aggfunc='mean'
)
print(pivot.info())
print(pivot.head())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 1996 to 2018
Columns: 951 entries, (no genres listed) to Western
dtypes: float64(951)
memory usage: 171.1 KB
None
genres       (no genres listed)    Action  Action|Adventure  \
year_rating
1996                        NaN  2.730769          3.454545
1997                        NaN  3.538462          4.150000
1998                        NaN       NaN          4.200000
1999                        NaN       NaN          4.000000
2000                        NaN  2.588235          3.738462

genres       Action|Adventure|Animation  Action|Adventure|Animation|Children  \
year_rating
1996                                NaN                                  NaN
1997                                NaN                                  NaN
1998                                NaN                                  NaN
1999                                NaN                                  NaN
2000                                NaN                                  NaN

genres       Action|Adventure|Animation|Children|Comedy  \
year_rating
1996                                                NaN
1997                                                NaN
1998                                                NaN
1999                                                NaN
2000                                                NaN

genres       Action|Adventure|Animation|Children|Comedy|Fantasy  \
year_rating
1996                                                       NaN
1997                                                       NaN
1998                                                       NaN
1999                                                       NaN
2000                                                       NaN

genres       Action|Adventure|Animation|Children|Comedy|IMAX  \
year_rating
1996                                                     NaN
1997                                                     NaN
1998                                                     NaN
1999                                                     NaN
2000                                                     NaN

genres       Action|Adventure|Animation|Children|Comedy|Romance  \
year_rating
1996                                                       NaN
1997                                                       NaN
1998                                                       NaN
1999                                                       NaN
2000                                                       NaN

genres       Action|Adventure|Animation|Children|Comedy|Sci-Fi  ...  \
year_rating                                                     ...
1996                                                       NaN  ...
1997                                                       NaN  ...
1998                                                       NaN  ...
1999                                                       NaN  ...
2000                                                       NaN  ...

genres       Romance|Thriller  Romance|War  Romance|Western    Sci-Fi  \
year_rating
1996                      NaN          NaN              NaN       NaN
1997                      NaN          NaN              NaN       NaN
1998                      NaN          NaN              NaN       NaN
1999                      2.0          NaN              NaN       NaN
2000                      4.0          NaN              3.0  3.416667

genres       Sci-Fi|IMAX  Sci-Fi|Thriller  Sci-Fi|Thriller|IMAX  Thriller  \
year_rating
1996                 NaN         2.666667                   NaN  3.838095
1997                 NaN         3.400000                   NaN  3.923077
1998                 NaN              NaN                   NaN  3.800000
1999                 NaN         4.000000                   NaN  3.700000
2000                 NaN         2.142857                   NaN  3.087912

genres       War   Western
year_rating
1996         NaN  3.117647
1997         NaN  3.000000
1998         NaN       NaN
1999         4.5  4.000000
2000         3.0  4.058824

[5 rows x 951 columns]

In [27]:
mask = ratings_movies['year_rating'] < 2018 and ratings_movies['year_rating'] > 1996
Action_adventure = ratings_movies[mask].groupby('genres')['rating'].mean()
print(Action_adventure.sort_values())

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().