# 5. Объединение DataFrame. Знакомимся с новыми данными

In [1]:
import pandas as pd
dates = pd.read_csv('D:\курс по data science\IDE\python_12\data\movies_data\dates.csv')
print(dates.head())
print(dates.info())

                  date
0  2000-07-30 18:45:03
1  2000-07-30 18:20:47
2  2000-07-30 18:37:04
3  2000-07-30 19:03:35
4  2000-07-30 18:48:51
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    100836 non-null  object
dtypes: object(1)
memory usage: 787.9+ KB
None

### Задание 5.4
#### В каком году было выставлено больше всего оценок? Для ответа на этот вопрос используйте таблицу dates.

In [2]:
dates['date'] = pd.to_datetime(dates['date'])

print(dates['date'])

0        2000-07-30 18:45:03
1        2000-07-30 18:20:47
2        2000-07-30 18:37:04
3        2000-07-30 19:03:35
4        2000-07-30 18:48:51
                 ...
100831   2017-05-03 21:53:22
100832   2017-05-03 22:21:31
100833   2017-05-08 19:50:47
100834   2017-05-03 21:19:12
100835   2017-05-03 21:20:15
Name: date, Length: 100836, dtype: datetime64[ns]

In [3]:
print(dates['date'].dt.year.value_counts())

2000    10061
2017     8198
2007     7114
2016     6703
2015     6616
2018     6418
1996     6040
2005     5813
2012     4656
2008     4351
2009     4158
2006     4059
2003     4014
2001     3922
2002     3478
2004     3279
1999     2439
2010     2301
1997     1916
2011     1690
2013     1664
2014     1439
1998      507
Name: date, dtype: int64

# 6. Объединение DataFrame.Concat()

In [4]:

movies = pd.read_csv('D:\курс по data science\IDE\python_12\data\movies_data\movies.csv', sep=',')
print(movies.head())

   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy

In [5]:
ratings1 = pd.read_csv('D:\\курс по data science\\IDE\\python_12\\data\\movies_data\\ratings1.csv', sep=',')
print(ratings1.head())
ratings2 = pd.read_csv('D:\\курс по data science\\IDE\\python_12\\data\\movies_data\\ratings2.csv', sep=',')
print(ratings2.head())
print(ratings1.info(), ratings2.info())

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0
   userId  movieId  rating
0     274     5621     2.0
1     274     5630     3.0
2     274     5667     3.5
3     274     5679     3.5
4     274     5690     3.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40001 entries, 0 to 40000
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   userId   40001 non-null  int64
 1   movieId  40001 non-null  int64
 2   rating   40001 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 937.6 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60836 entries, 0 to 60835
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   userId   60836 non-null  int64
 1   movieId  60836 non-null  int64
 2   rating   60836 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 1.4 MB
None None

##### Объединим две таблицы ( ratings1 и ratings2) по строкам

In [6]:
ratings = pd.concat([ratings1, ratings2], ignore_index=True)
print(ratings)

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100832     610   166534     4.0
100833     610   168248     5.0
100834     610   168250     5.0
100835     610   168252     5.0
100836     610   170875     3.0

[100837 rows x 3 columns]

#####  Узнаем количество строк в таблицах ratings и dates

In [7]:
print('Число строк в таблице ratings: ', ratings.shape[0])
print('Число строк в таблице dates: ', dates.shape[0])
print(ratings.shape[0] == dates.shape[0])

Число строк в таблице ratings:  100837
Число строк в таблице dates:  100836
False

##### Удалить дубликаты из таблицы

In [8]:
ratings = ratings.drop_duplicates(ignore_index=True)
print('Число строк в таблице ratings: ', ratings.shape[0])

Число строк в таблице ratings:  100836

#####  добавить к таблице с оценками даты их выставления

In [9]:
ratings_dates = pd.concat([ratings, dates], axis=1)
print(ratings_dates.tail(7))

        userId  movieId  rating                date
100829     610   164179     5.0 2017-05-03 21:07:11
100830     610   166528     4.0 2017-05-04 06:29:25
100831     610   166534     4.0 2017-05-03 21:53:22
100832     610   168248     5.0 2017-05-03 22:21:31
100833     610   168250     5.0 2017-05-08 19:50:47
100834     610   168252     5.0 2017-05-03 21:19:12
100835     610   170875     3.0 2017-05-03 21:20:15

# 7. Объединение DataFrame: join, merge
## Метод объединения join()
### Объединение таблиц типом left

In [10]:
joined_false = ratings_dates.join(
    movies,
    rsuffix='right',
    how='left'
)
print(joined_false)

        userId  movieId  rating                date  movieIdright  \
0            1        1     4.0 2000-07-30 18:45:03           1.0
1            1        3     4.0 2000-07-30 18:20:47           2.0
2            1        6     4.0 2000-07-30 18:37:04           3.0
3            1       47     5.0 2000-07-30 19:03:35           4.0
4            1       50     5.0 2000-07-30 18:48:51           5.0
...        ...      ...     ...                 ...           ...
100831     610   166534     4.0 2017-05-03 21:53:22           NaN
100832     610   168248     5.0 2017-05-03 22:21:31           NaN
100833     610   168250     5.0 2017-05-08 19:50:47           NaN
100834     610   168252     5.0 2017-05-03 21:19:12           NaN
100835     610   170875     3.0 2017-05-03 21:20:15           NaN

                                     title  \
0                         Toy Story (1995)
1                           Jumanji (1995)
2                  Grumpier Old Men (1995)
3                 Waiting to Exhale (1995)
4       Father of the Bride Part II (1995)
...                                    ...
100831                                 NaN
100832                                 NaN
100833                                 NaN
100834                                 NaN
100835                                 NaN

                                             genres
0       Adventure|Animation|Children|Comedy|Fantasy
1                        Adventure|Children|Fantasy
2                                    Comedy|Romance
3                              Comedy|Drama|Romance
4                                            Comedy
...                                             ...
100831                                          NaN
100832                                          NaN
100833                                          NaN
100834                                          NaN
100835                                          NaN

[100836 rows x 7 columns]

### Объединение таблиц типом right

In [11]:
joined_right = ratings_dates.join(
    movies,
    lsuffix = 'left',
    how = 'right'
)
print(joined_right)

      userId  movieIdleft  rating                date  movieId  \
0          1            1     4.0 2000-07-30 18:45:03        1
1          1            3     4.0 2000-07-30 18:20:47        2
2          1            6     4.0 2000-07-30 18:37:04        3
3          1           47     5.0 2000-07-30 19:03:35        4
4          1           50     5.0 2000-07-30 18:48:51        5
...      ...          ...     ...                 ...      ...
9737      64         3481     4.0 2006-10-22 12:37:45   193581
9738      64         3489     3.0 2006-10-22 23:28:09   193583
9739      64         3499     4.5 2006-10-22 23:26:41   193585
9740      64         3510     3.0 2006-10-22 23:27:26   193587
9741      64         3526     4.0 2006-10-23 01:23:47   193609

                                          title  \
0                              Toy Story (1995)
1                                Jumanji (1995)
2                       Grumpier Old Men (1995)
3                      Waiting to Exhale (1995)
4            Father of the Bride Part II (1995)
...                                         ...
9737  Black Butler: Book of the Atlantic (2017)
9738               No Game No Life: Zero (2017)
9739                               Flint (2017)
9740        Bungo Stray Dogs: Dead Apple (2018)
9741        Andrew Dice Clay: Dice Rules (1991)

                                           genres
0     Adventure|Animation|Children|Comedy|Fantasy
1                      Adventure|Children|Fantasy
2                                  Comedy|Romance
3                            Comedy|Drama|Romance
4                                          Comedy
...                                           ...
9737              Action|Animation|Comedy|Fantasy
9738                     Animation|Comedy|Fantasy
9739                                        Drama
9740                             Action|Animation
9741                                       Comedy

[9742 rows x 7 columns]

### Получить соответствие фильмов и их рейтингов
##### Чтобы совместить таблицы по ключевому столбцу с помощью метода join(), необходимо использовать ключевой столбец в «правой» таблице в качестве индекса. Это можно сделать с помощью метода set_index(). Также необходимо указать название ключа в параметре on.

In [13]:
joined = ratings_dates.join(
    movies.set_index('movieId'),
    on='movieId',
    how='left'
)
print(joined.head())

   userId  movieId  rating                date                        title  \
0       1        1     4.0 2000-07-30 18:45:03             Toy Story (1995)
1       1        3     4.0 2000-07-30 18:20:47      Grumpier Old Men (1995)
2       1        6     4.0 2000-07-30 18:37:04                  Heat (1995)
3       1       47     5.0 2000-07-30 19:03:35  Seven (a.k.a. Se7en) (1995)
4       1       50     5.0 2000-07-30 18:48:51   Usual Suspects, The (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                               Comedy|Romance
2                        Action|Crime|Thriller
3                             Mystery|Thriller
4                       Crime|Mystery|Thriller

## Метод объединения merge()

#### Слияние таблиц

In [14]:
merged = ratings_dates.merge(
    movies,
    on='movieId',
    how='left'
)
print(merged.head())

   userId  movieId  rating                date                        title  \
0       1        1     4.0 2000-07-30 18:45:03             Toy Story (1995)
1       1        3     4.0 2000-07-30 18:20:47      Grumpier Old Men (1995)
2       1        6     4.0 2000-07-30 18:37:04                  Heat (1995)
3       1       47     5.0 2000-07-30 19:03:35  Seven (a.k.a. Se7en) (1995)
4       1       50     5.0 2000-07-30 18:48:51   Usual Suspects, The (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                               Comedy|Romance
2                        Action|Crime|Thriller
3                             Mystery|Thriller
4                       Crime|Mystery|Thriller

#### Проверим, что число строк в таблице ratings_dates совпадает с числом строк в результирующей таблице merged:

In [15]:
print('Число строк в таблице ratings_dates: ', ratings_dates.shape[0])
print('Число строк в таблице merged: ', merged.shape[0])
print(ratings_dates.shape[0] == merged.shape[0])

Число строк в таблице ratings_dates:  100836
Число строк в таблице merged:  100836
True

#### почему мы выбрали тип объединения left, а не full?

In [16]:
merged2 = ratings_dates.merge(
    movies,
    on='movieId',
    how='outer'
)
print('Число строк в таблице mmerged2: ', merged2.shape[0])
print(merged2.tail())

Чмсло строк в таблице mmerged2:  100854
        userId  movieId  rating date                               title  \
100849     NaN    30892     NaN  NaT  In the Realms of the Unreal (2004)
100850     NaN    32160     NaN  NaT            Twentieth Century (1934)
100851     NaN    32371     NaN  NaT           Call Northside 777 (1948)
100852     NaN    34482     NaN  NaT        Browning Version, The (1951)
100853     NaN    85565     NaN  NaT                  Chalet Girl (2011)

                       genres
100849  Animation|Documentary
100850                 Comedy
100851  Crime|Drama|Film-Noir
100852                  Drama
100853         Comedy|Romance

### Метод merge() с внешним (outer) типом объединения может использоваться как аналог метода concat() при объединении таблиц с одинаковой структурой (одинаковые количество и названия столбцов) по строкам.

In [17]:
merge_ratings = ratings1.merge(ratings2, how='outer')
print('Число строк в таблице merge_ratings: ', merge_ratings.shape[0])
print(merge_ratings)

Число строк в таблице merge_ratings:  100836
        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0

[100836 rows x 3 columns]

#### Задание 7.5
##### Даны две таблицы: items_df, в которой содержится информация о наличии товаров на складе, и purchase_df — с данными о покупках товаров.

items_df = pd.DataFrame({
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394], 
    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],
    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]
})
purchase_df = pd.DataFrame({
    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132], 
    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]
})
Информация в таблицах представлена в виде следующих столбцов:

item_id — идентификатор модели;
vendor — производитель модели;
stock_count — имеющееся на складе количество данных моделей (в штуках);
purchase_id — идентификатор покупки;
price — стоимость модели в покупке.
Сформируйте DataFrame merged, в котором в результате объединения purchase_df и items_df останутся модели, которые учтены на складе и имели продажи.
Из таблицы merged найдите суммарную выручку, которую можно было бы получить от продажи всех товаров, которые учтены на складе и имели продажи. Результат занесите в переменную income.

In [24]:
# наличие товаров на складе
items_df = pd.DataFrame({
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394],
    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],
    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]
})
# данные о покупках товаров
purchase_df = pd.DataFrame({
    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],
    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132],
    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]
})

print(items_df.head(3))
print(purchase_df.head(3))

merged_df = items_df.merge(
    purchase_df,
    how='inner',
    on='item_id'
)
print(merged_df)

income = (merged_df['stock_count']*merged_df['price']).sum()
print(income)

   item_id   vendor  stock_count
0   417283  Samsung           54
1   849734       LG           33
2   132223    Apple          122
   purchase_id  item_id  price
0          101   417283  13900
1          101   849734   5330
2          101   132223  38200
   item_id   vendor  stock_count  purchase_id  price
0   417283  Samsung           54          101  13900
1   849734       LG           33          101   5330
2   132223    Apple          122          101  38200
3   573943    Apple           18          112  49990
4    19475       LG          102          121   9890
5  3294095    Apple           43          145  33000
6   382043  Samsung           77          145  67500
7   302948  Samsung          143          145  34500
8   100132       LG           60          221  11400
19729490