In [2]:
import pandas as pd
melb_df = pd.read_csv('D:\курс по data science\IDE\python_12\data\melb_data_fe.csv', sep=',')
print(melb_df.head())

       Suburb  Rooms   Type      Price Method SellerG        Date  Distance  \
0  Abbotsford      2  house  1480000.0      S  Biggin  2016-03-12       2.5
1  Abbotsford      2  house  1035000.0      S  Biggin  2016-04-02       2.5
2  Abbotsford      3  house  1465000.0     SP  Biggin  2017-04-03       2.5
3  Abbotsford      3  house   850000.0     PI  Biggin  2017-04-03       2.5
4  Abbotsford      4  house  1600000.0     VB  Nelson  2016-04-06       2.5

   Postcode  Bedroom  ...  Longtitude             Regionname  Propertycount  \
0      3067        2  ...    144.9984  Northern Metropolitan           4019
1      3067        2  ...    144.9934  Northern Metropolitan           4019
2      3067        3  ...    144.9944  Northern Metropolitan           4019
3      3067        3  ...    144.9969  Northern Metropolitan           4019
4      3067        3  ...    144.9941  Northern Metropolitan           4019

   MeanRoomsSquare AreaRatio  MonthSale  AgeBuilding WeekdaySale  StreetType  \
0            25.20 -0.231707          3           46           5          St
1            15.80 -0.327660          4          116           5          St
2            18.75  0.056338          4          117           0          St
3            15.75  0.145455          4           47           0       other
4            17.75  0.083969          4            2           2          St

   Weekend
0        1
1        1
2        0
3        0
4        0

[5 rows x 26 columns]

In [3]:
print(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  object
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  object
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  object
 5   SellerG          13580 non-null  object
 6   Date             13580 non-null  object
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  object
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  object
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  int64
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  int64
 24  StreetType       13580 non-null  object
 25  Weekend          13580 non-null  int64
dtypes: float64(8), int64(10), object(8)
memory usage: 2.7+ MB
None

In [4]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
print(melb_df['Date'])

0       2016-03-12
1       2016-04-02
2       2017-04-03
3       2017-04-03
4       2016-04-06
           ...
13575   2017-08-26
13576   2017-08-26
13577   2017-08-26
13578   2017-08-26
13579   2017-08-26
Name: Date, Length: 13580, dtype: datetime64[ns]

In [5]:
quarters = melb_df['Date'].dt.quarter
print(quarters.value_counts().iloc[1])

4359

#### Преобразуйте все столбцы, в которых меньше 150 уникальных значений, в тип данных category, исключив из преобразования столбцы Date, Rooms, Bedroom, Bathroom, Car. В качестве ответа запишите результирующее количество столбцов, которые имеют тип данных category.

In [6]:
cols_to_exclude = ['Date', 'Rooms', 'Bedroom','Bathroom','Car']
max_unique_count = 150
for col in melb_df.columns:
    if melb_df[col].nunique() < max_unique_count and col not  in cols_to_exclude:
        melb_df[col] = melb_df[col].astype('category')
print(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  category
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  category
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  category
 5   SellerG          13580 non-null  category
 6   Date             13580 non-null  datetime64[ns]
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  category
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  category
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  category
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  category
 24  StreetType       13580 non-null  category
 25  Weekend          13580 non-null  category
dtypes: category(10), datetime64[ns](1), float64(8), int64(7)
memory usage: 1.8 MB
None

## 2. Сортировка данных в DataFrame

### СОРТИРОВКА ПО ЗНАЧЕНИЯМ ОДНОГО СТОЛБЦА

##### по возрастанию цены объектов недвижимости (Price)

In [7]:
print(melb_df.sort_values(by='Price').head(10))

               Suburb  Rooms   Type     Price Method        SellerG  \
2652        Footscray      1   unit   85000.0     PI        Burnham
1805            other      4  house  131000.0     PI          other
7303           Albion      1   unit  145000.0     PI         Biggin
1927           Coburg      4  house  145000.0     PI         Jellis
7940         Hawthorn      1   unit  160000.0     VB            HAR
12666       Brunswick      1   unit  170000.0     VB         Nelson
8811        Footscray      1   unit  170000.0     PI        Burnham
8504   West Footscray      1   unit  185000.0     PI            Jas
7293           Albion      1   unit  185000.0      S  hockingstuart
7305           Albion      2   unit  190000.0     SP        Burnham

            Date  Distance  Postcode  Bedroom  ...  Longtitude  \
2652  2016-03-09       6.4      3011        1  ...   144.89000
1805  2017-02-25       8.9      3162        4  ...   145.02420
7303  2016-05-28      13.9      3020        2  ...   144.82660
1927  2016-04-06       7.8      3058        3  ...   144.96580
7940  2017-08-04       4.6      3122        1  ...   145.03730
12666 2017-09-16       5.2      3056        1  ...   144.95188
8811  2017-01-07       5.1      3011        1  ...   144.89587
8504  2017-04-29       8.2      3012        1  ...   144.86720
7293  2016-08-22      13.9      3020        1  ...   144.82720
7305  2016-07-30      13.9      3020        2  ...   144.82390

                  Regionname  Propertycount  MeanRoomsSquare AreaRatio  \
2652    Western Metropolitan           7570        42.000000  1.000000
1805   Southern Metropolitan           2379        17.222222 -0.525994
7303    Western Metropolitan           2185        31.500000  0.555556
1927   Northern Metropolitan          11204        20.500000 -0.531429
7940   Southern Metropolitan          11308        42.000000 -0.437500
12666  Northern Metropolitan          11918        42.000000 -0.816860
8811    Western Metropolitan           7570         8.666667 -0.071429
8504    Western Metropolitan           5058        42.000000  1.000000
7293    Western Metropolitan           2185        14.333333 -0.964017
7305    Western Metropolitan           2185        25.200000  1.000000

       MonthSale  AgeBuilding WeekdaySale  StreetType  Weekend
2652           3            9           2          St        0
1805           2           97           5          St        1
7303           5           46           5          St        1
1927           4          106           2          Rd        0
7940           8            8           4          St        0
12666          9           47           5          St        1
8811           1            4           5          St        1
8504           4           47           5          St        1
7293           8           41           0          Rd        0
7305           7           46           5          St        1

[10 rows x 26 columns]

##### по убыванию (от самой последней до самой первой) даты продажи объекта (Date)

In [8]:
print(melb_df.sort_values(by='Date', ascending=False))

             Suburb  Rooms   Type      Price Method    SellerG       Date  \
11144     Northcote      4  house  1955000.0     SP    McGrath 2017-12-08
11217  Surrey Hills      3  house  1775000.0     PI     Jellis 2017-12-08
11206      St Kilda      4  house  1600000.0     VB       Gary 2017-12-08
11207    Strathmore      7  house  2000000.0     SP     Nelson 2017-12-08
11208    Strathmore      4  house  1610000.0      S      other 2017-12-08
...             ...    ...    ...        ...    ...        ...        ...
1555     Camberwell      4  house  2650000.0      S     Jellis 2016-03-09
4510       Oak Park      3  house   892000.0      S     Nelson 2016-03-09
4388      Northcote      3  house  1200000.0      S     Nelson 2016-03-09
6184   Surrey Hills      3  house  1205000.0      S  Fletchers 2016-01-28
6183   Surrey Hills      2   unit   813000.0      S  Fletchers 2016-01-28

       Distance  Postcode  Bedroom  ...  Longtitude             Regionname  \
11144       5.3      3070        4  ...   144.99375  Northern Metropolitan
11217      10.2      3127        3  ...   145.08968  Southern Metropolitan
11206       5.0      3182        4  ...   144.98324  Southern Metropolitan
11207       8.2      3041        7  ...   144.90587   Western Metropolitan
11208       8.2      3041        4  ...   144.92243   Western Metropolitan
...         ...       ...      ...  ...         ...                    ...
1555        7.8      3124        4  ...   145.06860  Southern Metropolitan
4510       11.5      3046        3  ...   144.91740  Northern Metropolitan
4388        5.5      3070        3  ...   144.99090  Northern Metropolitan
6184       11.2      3127        3  ...   145.10060  Southern Metropolitan
6183       11.2      3127        2  ...   145.10230  Southern Metropolitan

       Propertycount  MeanRoomsSquare AreaRatio  MonthSale  AgeBuilding  \
11144          11364        12.600000  0.923664         12           47
11217           5457        15.750000 -0.721854         12           47
11206          13240        16.000000 -0.586028         12          107
11207           3284        20.882353 -0.262721         12           18
11208           3284        24.909091 -0.517181         12           62
...              ...              ...       ...        ...          ...
1555            8920        18.900000 -0.550535          3          126
4510            2651        18.000000 -0.714609          3           46
4388           11364        17.857143 -0.264706          3           96
6184            5457        18.000000 -0.590909          1           46
6183            5457        25.200000  0.076923          1           46

      WeekdaySale  StreetType  Weekend
11144           4          St        0
11217           4          Rd        0
11206           4          St        0
11207           4          Rd        0
11208           4          St        0
...           ...         ...      ...
1555            2          Rd        0
4510            2          St        0
4388            2          St        0
6184            3          Rd        0
6183            3          Rd        0

[13580 rows x 26 columns]

### СОРТИРОВКА ПО ЗНАЧЕНИЯМ НЕСКОЛЬКИХ СТОЛБЦОВ
##### отсортируем таблицу сначала по возрастанию расстояния от центра города (Distance), а затем — по возрастанию цены объекта (Price).

In [9]:
print(melb_df.sort_values(by=['Distance', 'Price']).loc[::10, ['Distance', 'Price']])

       Distance      Price
11428       0.0   387000.0
10512       0.7   600000.0
5727        1.2   485000.0
8671        1.2   595000.0
5736        1.2   740000.0
...         ...        ...
12011      38.0   680000.0
10673      38.0   810000.0
13429      38.0  1155000.0
11102      41.0   650000.0
12728      45.9   650000.0

[1358 rows x 2 columns]

##### поменяли порядок следования столбцов в параметре by

In [10]:
print(melb_df.sort_values(by=['Price', 'Distance']).loc[::10,['Price','Distance']])

           Price  Distance
2652     85000.0       6.4
7116    200000.0       7.8
5206    220000.0      11.2
7240    241000.0       8.2
2898    250000.0      13.0
...          ...       ...
13341  4060000.0       6.3
8591   4275000.0       1.5
1094   4700000.0      11.2
5801   5046000.0       6.1
251    5525000.0       6.3

[1358 rows x 2 columns]

### КОМБИНИРОВАНИЕ СОРТИРОВКИ С ФИЛЬТРАЦИЕЙ
##### Найдём информацию о таунхаусах (Type), проданных компанией (SellerG) McGrath, у которых коэффициент соотношения площадей здания и участка (AreaRatio) меньше -0.8. Результат отсортируем по дате продажи (Date) в порядке возрастания, а после проведём сортировку по убыванию коэффициента соотношения площадей. Также обновим старые индексы на новые, установив параметр ignore_index на True. Для наглядности результата выберем из таблицы только столбцы Data и AreaRatio

In [11]:
mask1 = melb_df['AreaRatio']<-0.8
mask2 = melb_df['Type'] == 'townhouse'
mask3 = melb_df['SellerG'] == 'McGrath'
print(melb_df[mask1 & mask2 & mask3].sort_values(
    by=['Date', 'AreaRatio'],
    ascending=[True, False],
    ignore_index=True
).loc[:, ['Date', 'AreaRatio']])

        Date  AreaRatio
0 2016-07-26  -0.974922
1 2016-09-24  -0.971831
2 2016-11-27  -0.953608
3 2016-12-11  -0.945946
4 2017-08-04  -0.947368
5 2017-08-04  -0.970874

#### задание 2.2
##### Произведите сортировку столбца AreaRatio по убыванию. При этом индексы полученной таблицы замените на новые. Какое значение площади здания находится в строке 1558? Ответ округлите до целого числа.

In [12]:
print(int(melb_df.sort_values(by='AreaRatio', ascending=False, ignore_index=True).loc[1558,'BuildingArea']))

126

#### Задание 2.3
##### Найдите таунхаусы (Type) с количеством жилых комнат (Rooms) больше 2. Отсортируйте полученную таблицу сначала по возрастанию числа комнат, а затем по убыванию средней площади комнат (MeanRoomsSquare). Индексы таблицы замените на новые. Какая цена будет у объекта в строке 18? Ответ запишите в виде целого числа.

In [13]:
mask1 = melb_df['Type'] == 'townhouse'
mask2 = melb_df['Rooms'] > 2
print(int(melb_df[mask1 & mask2].sort_values(
    by = ['Rooms', 'MeanRoomsSquare'],
    ascending = [True, False],
    ignore_index = True).loc[18, 'Price']))

1300000

## 3. Группировка данных в DataFrame
### ГРУППИРОВКА ДАННЫХ ПО ОДНОМУ КРИТЕРИЮ С ОДНОЙ АГРЕГАЦИЕЙ
##### В качестве столбца для группировки возьмём столбец типа объекта недвижимости (Type)

In [14]:
print(melb_df.groupby(by='Type').mean())

              Rooms         Price   Distance     Postcode   Bedroom  Bathroom  \
Type
house      3.260874  1.242665e+06  10.979479  3104.080643  3.229336  1.613822
townhouse  2.837522  9.337351e+05   9.851346  3100.777379  2.814183  1.809695
unit       1.963871  6.051275e+05   7.607391  3110.797481  1.966523  1.183295

                Car    Landsize  BuildingArea  Lattitude  Longtitude  \
Type
house      1.772674  617.181924    152.162553 -37.803795  144.994700
townhouse  1.555655  279.606822    134.649710 -37.815782  144.996489
unit       1.128936  477.314219    102.235863 -37.823710  144.996363

           Propertycount  MeanRoomsSquare  AreaRatio  AgeBuilding
Type
house        7259.025505        18.996731  -0.490031    55.669700
townhouse    7094.459605        18.569847  -0.094916    26.690305
unit         8199.280080        21.068242   0.319883    39.703016

C:\Users\Елена\AppData\Local\Temp\ipykernel_26292\3313400465.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(melb_df.groupby(by='Type').mean())

###### добавили индекс к типу объекта

In [15]:
print(melb_df.groupby(by='Type', as_index=False).mean())

        Type     Rooms         Price   Distance     Postcode   Bedroom  \
0      house  3.260874  1.242665e+06  10.979479  3104.080643  3.229336
1  townhouse  2.837522  9.337351e+05   9.851346  3100.777379  2.814183
2       unit  1.963871  6.051275e+05   7.607391  3110.797481  1.966523

   Bathroom       Car    Landsize  BuildingArea  Lattitude  Longtitude  \
0  1.613822  1.772674  617.181924    152.162553 -37.803795  144.994700
1  1.809695  1.555655  279.606822    134.649710 -37.815782  144.996489
2  1.183295  1.128936  477.314219    102.235863 -37.823710  144.996363

   Propertycount  MeanRoomsSquare  AreaRatio  AgeBuilding
0    7259.025505        18.996731  -0.490031    55.669700
1    7094.459605        18.569847  -0.094916    26.690305
2    8199.280080        21.068242   0.319883    39.703016

C:\Users\Елена\AppData\Local\Temp\ipykernel_26292\1200398823.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  print(melb_df.groupby(by='Type', as_index=False).mean())

##### агрегирующие методы можно применять только к интересующему нас столбцу. Сравним средние цены на объекты в зависимости от их типа:

In [16]:
print(melb_df.groupby('Type')['Price'].mean())

Type
house        1.242665e+06
townhouse    9.337351e+05
unit         6.051275e+05
Name: Price, dtype: float64

##### какие регионы (Regionname) наиболее удалены от центра Мельбурна

In [17]:
print(melb_df.groupby('Regionname')['Distance'].min().sort_values(ascending=False))

Regionname
Western Victoria              29.8
Eastern Victoria              25.2
Northern Victoria             21.8
South-Eastern Metropolitan    14.7
Eastern Metropolitan           7.8
Western Metropolitan           4.3
Southern Metropolitan          0.7
Northern Metropolitan          0.0
Name: Distance, dtype: float64

### ГРУППИРОВКА ДАННЫХ ПО ОДНОМУ КРИТЕРИЮ С НЕСКОЛЬКИМИ АГРЕГАЦИЯМИ
#### построим таблицу для анализа продаж по месяцам
###### найдём количество продаж, а также среднее и максимальное значения цен объектов недвижимости (Price), сгруппированных по номеру месяца продажи (MonthSale). Результат отсортируем по количеству продаж в порядке убывания

In [18]:
print(melb_df.groupby('MonthSale')['Price'].agg(
    ['count', 'mean', 'max']
).sort_values(by='count', ascending=False))

           count          mean        max
MonthSale
8           1850  1.056371e+06  6500000.0
7           1835  9.314698e+05  9000000.0
5           1644  1.097807e+06  8000000.0
6           1469  1.068981e+06  7650000.0
3           1408  1.146762e+06  5600000.0
4           1246  1.050479e+06  5500000.0
9           1188  1.126349e+06  6400000.0
10           854  1.135970e+06  6250000.0
11           750  1.142503e+06  5050000.0
12           725  1.144737e+06  5700000.0
2            333  1.169051e+06  4735000.0
1            278  9.397921e+05  5200000.0

##### полная информация обо всех основных статистических характеристиках внутри каждой группы

In [19]:
print(melb_df.groupby('MonthSale')['Price'].agg('describe'))

            count          mean            std       min       25%        50%  \
MonthSale
1           278.0  9.397921e+05  577668.924214  170000.0  570500.0   795000.0
2           333.0  1.169051e+06  671564.357417  131000.0  710000.0  1020000.0
3          1408.0  1.146762e+06  709573.596867   85000.0  680000.0   945000.0
4          1246.0  1.050479e+06  591892.902979  145000.0  655000.0   905500.0
5          1644.0  1.097807e+06  668492.867996  145000.0  650000.0   905000.0
6          1469.0  1.068981e+06  606010.069052  222000.0  660000.0   900000.0
7          1835.0  9.314698e+05  537390.803161  190000.0  586750.0   800000.0
8          1850.0  1.056371e+06  619617.476541  160000.0  635000.0   892000.0
9          1188.0  1.126349e+06  608734.690742  170000.0  725000.0   980000.0
10          854.0  1.135970e+06  692950.251627  250000.0  652625.0   950000.0
11          750.0  1.142503e+06  703666.227892  240000.0  671750.0   950000.0
12          725.0  1.144737e+06  706549.007161  250000.0  667500.0   938000.0

                 75%        max
MonthSale
1          1111250.0  5200000.0
2          1478000.0  4735000.0
3          1400000.0  5600000.0
4          1298750.0  5500000.0
5          1371250.0  8000000.0
6          1325000.0  7650000.0
7          1150000.0  9000000.0
8          1310000.0  6500000.0
9          1360000.0  6400000.0
10         1416500.0  6250000.0
11         1399125.0  5050000.0
12         1412000.0  5700000.0

#### подсчёт числа уникальных значений
##### вычислить число уникальных риелторских компаний в зависимости от региона, чтобы понять, в каких регионах конкуренция на рынке недвижимости меньше

In [20]:
print(melb_df.groupby('Regionname')['SellerG'].agg(
    ['nunique', set]
))

                            nunique  \
Regionname
Eastern Metropolitan             26
Eastern Victoria                 11
Northern Metropolitan            40
Northern Victoria                11
South-Eastern Metropolitan       25
Southern Metropolitan            38
Western Metropolitan             34
Western Victoria                  6

                                                                          set
Regionname
Eastern Metropolitan        {Noel, hockingstuart, Ray, other, C21, Barry, ...
Eastern Victoria            {HAR, hockingstuart, McGrath, Barry, Harcourts...
Northern Metropolitan       {Rendina, Cayzer, Hodges, Raine, hockingstuart...
Northern Victoria           {HAR, Raine, hockingstuart, McGrath, YPA, LITT...
South-Eastern Metropolitan  {Noel, Hodges, hockingstuart, Ray, other, C21,...
Southern Metropolitan       {Williams, Noel, Cayzer, Rendina, Hodges, Rain...
Western Metropolitan        {Williams, Rendina, Hodges, Raine, hockingstua...
Western Victoria                 {HAR, Raine, hockingstuart, YPA, Ray, other}

#### Задание 3.1
##### Сгруппируйте данные по признаку количества комнат и найдите среднюю цену объектов недвижимости в каждой группе. В качестве ответа запишите количество комнат, для которых средняя цена наибольшая.

In [21]:
print(melb_df.groupby('Rooms')['Price'].mean().sort_values(ascending=False))

Rooms
7     1.920700e+06
5     1.870260e+06
6     1.849366e+06
8     1.602750e+06
4     1.445282e+06
3     1.076081e+06
10    9.000000e+05
2     7.750812e+05
1     4.338245e+05
Name: Price, dtype: float64

#### Задание 3.2
##### Какой регион имеет наименьшее стандартное отклонение по географической широте (Lattitude)? В качестве ответа запишите название этого региона.

In [22]:
print(melb_df.groupby('Regionname')['Lattitude'].std().sort_values())

Regionname
Western Victoria              0.011579
Southern Metropolitan         0.043080
Eastern Metropolitan          0.047890
Northern Metropolitan         0.049639
Western Metropolitan          0.051251
South-Eastern Metropolitan    0.073411
Northern Victoria             0.084455
Eastern Victoria              0.147067
Name: Lattitude, dtype: float64

#### Задание 3.3
##### Какая риелторская компания (SellerG) имеет наименьшую общую выручку за период с 1 мая по 1 сентября (включительно) 2017 года? Для ответа на этот вопрос рассчитайте сумму продаж (Price) каждой компании в заданный период. Не забудьте перевести даты в формат datetime.

In [23]:
date1 = pd.to_datetime('2017-05-01')
date2 = pd.to_datetime('2017-09-01')
mask = (date1 <= melb_df['Date']) & (melb_df['Date'] <= date2)
print(melb_df[mask].groupby('SellerG')['Price'].sum().sort_values(ascending=True))

SellerG
LITTLE             2742000.0
Cayzer             4439000.0
Burnham            4550500.0
Moonee             7328000.0
Thomson            8332000.0
Bells              8656000.0
Alexkarbon        10985000.0
McDonald          14637500.0
Rendina           15422276.0
Nick              16890000.0
Douglas           18341000.0
Buckingham        19033000.0
C21               19515000.0
Eview             19791500.0
Collins           20217000.0
Philip            22051800.0
Chisholm          23225000.0
Williams          23297000.0
Love              23365500.0
Purplebricks      23401000.0
O'Brien           23855508.0
HAR               25568000.0
Village           26473000.0
RW                29261000.0
Raine             30687700.0
Stockdale         35409800.0
Sweeney           36882750.0
Gary              39138400.0
Hodges            43231000.0
YPA               46354350.0
Miles             47582000.0
Kay               48569500.0
RT                50498000.0
Brad              55955000.0
Jas               59281600.0
Harcourts         68720250.0
McGrath           78386500.0
Greg              85621000.0
Woodards          85977500.0
Noel              88129800.0
Fletchers        108847700.0
Biggin           110429500.0
Buxton           219104000.0
Ray              249572986.0
Marshall         253957888.0
hockingstuart    282834310.0
Barry            296723050.0
other            365038432.0
Nelson           379767500.0
Jellis           414121833.0
Name: Price, dtype: float64

## 4. Сводные таблицы
### МЕТОД GROUPBY КАК СПОСОБ ПОСТРОЕНИЯ СВОДНЫХ ТАБЛИЦ
##### таблица, которая показывает зависимость медианной цены и площади здания от числа комнат

In [24]:
print(melb_df.groupby('Rooms')[['Price','BuildingArea']].median())

           Price  BuildingArea
Rooms
1       385000.0         107.0
2       690000.0         126.0
3       950000.0         126.0
4      1285000.0         142.0
5      1660000.0         176.0
6      1800000.0         126.0
7      1496000.0         216.5
8      1515000.0         126.0
10      900000.0         126.0

##### таблица учитывающая зависимость средней цены и площади здания от числа комнат и типа здания, результатом которой объект Series

In [25]:
print(melb_df.groupby(['Rooms', 'Type'])['Price'].mean())

Rooms  Type
1      house        8.668655e+05
       townhouse    5.927045e+05
       unit         3.899289e+05
2      house        1.017238e+06
       townhouse    7.101585e+05
       unit         6.104905e+05
3      house        1.109233e+06
       townhouse    9.847087e+05
       unit         8.505963e+05
4      house        1.462283e+06
       townhouse    1.217092e+06
       unit         1.037476e+06
5      house        1.877327e+06
       townhouse    1.035000e+06
       unit                  NaN
6      house        1.869508e+06
       townhouse             NaN
       unit         5.200000e+05
7      house        1.920700e+06
       townhouse             NaN
       unit                  NaN
8      house        1.510286e+06
       townhouse             NaN
       unit         2.250000e+06
10     house        9.000000e+05
       townhouse             NaN
       unit                  NaN
Name: Price, dtype: float64

##### таблица учитывающая зависимость средней цены и площади здания от числа комнат и типа здания, результатом которой сводная таблица

In [26]:
print(melb_df.groupby(['Rooms', 'Type'])['Price'].mean().unstack())

Type          house     townhouse          unit
Rooms
1      8.668655e+05  5.927045e+05  3.899289e+05
2      1.017238e+06  7.101585e+05  6.104905e+05
3      1.109233e+06  9.847087e+05  8.505963e+05
4      1.462283e+06  1.217092e+06  1.037476e+06
5      1.877327e+06  1.035000e+06           NaN
6      1.869508e+06           NaN  5.200000e+05
7      1.920700e+06           NaN           NaN
8      1.510286e+06           NaN  2.250000e+06
10     9.000000e+05           NaN           NaN

### Метод pivot_table() для построения сводных таблиц
##### анализ зависимости средней цены и площади от числа комнат и типа здания
###### В качестве параметра values укажем столбец Price, в качестве индексов сводной таблицы возьмём Rooms, а в качестве столбцов — Type. Агрегирующую функцию оставим по умолчанию (среднее). Дополнительно заменим пропуски в таблице на значение 0. Финальный результат для наглядности вывода округлим с помощью метода round() до целых.

In [27]:
print(melb_df.pivot_table(
    values='Price',
    index='Rooms',
    columns='Type',
    fill_value=0
).round())

Type       house  townhouse       unit
Rooms
1       866866.0   592705.0   389929.0
2      1017238.0   710158.0   610491.0
3      1109233.0   984709.0   850596.0
4      1462283.0  1217092.0  1037476.0
5      1877327.0  1035000.0        0.0
6      1869508.0        0.0   520000.0
7      1920700.0        0.0        0.0
8      1510286.0        0.0  2250000.0
10      900000.0        0.0        0.0

##### анализ продаж в каждом из регионов в зависимости от того, будний был день или выходной
###### Сводная таблица, в которой строками будут являться названия регионов (Regionname), а в столбцах будет располагаться наш «признак-мигалка» выходного дня (Weekend), который равен 1, если день был выходным, и 0 — в противном случае. В качестве значений сводной таблицы возьмём количество продаж.

In [28]:
print(melb_df.pivot_table(
    values='Price',
    index='Regionname',
    columns='Weekend',
    aggfunc='count'
))

Weekend                        0     1
Regionname
Eastern Metropolitan         447  1024
Eastern Victoria              13    40
Northern Metropolitan       1258  2632
Northern Victoria             11    30
South-Eastern Metropolitan   123   327
Southern Metropolitan       1534  3161
Western Metropolitan         960  1988
Western Victoria               8    24

##### Анализ зависимости средней и ммедианной площади участка от типа объекта и его региона

In [30]:
print(melb_df.pivot_table(
    values='Landsize',
    index='Regionname',
    columns='Type',
    aggfunc=['median','mean'],
    fill_value=0
))

                           median                        mean              \
Type                        house townhouse unit        house   townhouse
Regionname
Eastern Metropolitan        674.0     233.5  203   717.422847  269.440678
Eastern Victoria            843.0       0.0  230  3108.960000    0.000000
Northern Metropolitan       459.5     134.0    0   619.249092  317.325733
Northern Victoria           724.0       0.0    0  3355.463415    0.000000
South-Eastern Metropolitan  630.5     240.0  199   664.306701  212.160000
Southern Metropolitan       586.0     246.0    0   569.643881  278.858824
Western Metropolitan        531.0     198.0   62   507.883406  244.560669
Western Victoria            599.5       0.0    0   655.500000    0.000000


Type                              unit
Regionname
Eastern Metropolitan        330.444444
Eastern Victoria            295.333333
Northern Metropolitan       495.026538
Northern Victoria             0.000000
South-Eastern Metropolitan  357.864865
Southern Metropolitan       466.380245
Western Metropolitan        557.637232
Western Victoria              0.000000

### Многомерные сводные таблицы
##### Таблица, в которой по индексам будут располагаться признаки метода продажи (Method) и типа объекта (Type), по столбцам — наименование региона (Regionname), а на пересечении строк и столбцов будет стоять медианная цена объекта (Price)

In [31]:
print(melb_df.pivot_table(
    values='Price',
    index=['Method','Type'],
    columns='Regionname',
    aggfunc='median',
    fill_value=0    
))

Regionname        Eastern Metropolitan  Eastern Victoria  \
Method Type
PI     house                   1244000            780000
       townhouse                760000                 0
       unit                     650000                 0
S      house                   1127000            675000
       townhouse                828000                 0
       unit                     645750            492000
SA     house                    932500            950000
       townhouse                807500                 0
       unit                          0                 0
SP     house                   1050000            672500
       townhouse                910000                 0
       unit                     515000            400000
VB     house                   1100000            712500
       townhouse                892500                 0
       unit                     500000                 0

Regionname        Northern Metropolitan  Northern Victoria  \
Method Type
PI     house                     900000             500000
       townhouse                 632500                  0
       unit                      410000                  0
S      house                     920000             555000
       townhouse                 750000                  0
       unit                      525500                  0
SA     house                     817500             540000
       townhouse                 425000                  0
       unit                      616000                  0
SP     house                     900000             521000
       townhouse                 690000                  0
       unit                      470000                  0
VB     house                    1050000             690000
       townhouse                 640000                  0
       unit                      450000                  0

Regionname        South-Eastern Metropolitan  Southern Metropolitan  \
Method Type
PI     house                          865000                1725000
       townhouse                     1190000                1055000
       unit                           525000                 571250
S      house                          883300                1611000
       townhouse                      875000                1135000
       unit                           606000                 655000
SA     house                          880000                1390000
       townhouse                           0                1141000
       unit                                0                 580000
SP     house                          770000                1521750
       townhouse                      800000                1162500
       unit                           601000                 550000
VB     house                          850000                1800000
       townhouse                           0                1250000
       unit                           700000                 500000

Regionname        Western Metropolitan  Western Victoria
Method Type
PI     house                    870000            630000
       townhouse                670000                 0
       unit                     360000                 0
S      house                    870000            397500
       townhouse                729000                 0
       unit                     489000                 0
SA     house                    772500                 0
       townhouse                467500                 0
       unit                     571000                 0
SP     house                    865000            360000
       townhouse                702500                 0
       unit                     460000                 0
VB     house                    880000                 0
       townhouse                689500                 0
       unit                     420000                 0

### Доступ к данным в сводной таблице

##### что представляют собой столбцы сложной сводной таблицы?

In [33]:
pivot = melb_df.pivot_table(
    values='Landsize',
    index='Regionname',
    columns='Type',
    aggfunc=['median', 'mean'],
    fill_value=0
)
print(pivot.columns)

MultiIndex([('median',     'house'),
            ('median', 'townhouse'),
            ('median',      'unit'),
            (  'mean',     'house'),
            (  'mean', 'townhouse'),
            (  'mean',      'unit')],
           names=[None, 'Type'])

In [34]:
# из таблицы pivot мы можем получить средние значения площадей участков для типа здания unit, просто последовательно обратившись по имени столбцов:
print(pivot['mean']['unit'])

Regionname
Eastern Metropolitan          330.444444
Eastern Victoria              295.333333
Northern Metropolitan         495.026538
Northern Victoria               0.000000
South-Eastern Metropolitan    357.864865
Southern Metropolitan         466.380245
Western Metropolitan          557.637232
Western Victoria                0.000000
Name: unit, dtype: float64

##### Фильтрация данных. нужны регионы, в которых средняя площадь здания для домов типа house меньше их медианной площади

In [36]:
mask = pivot['mean']['house'] < pivot['median']['house']
filtered_pivot=pivot[mask]
print(filtered_pivot)

                      median                       mean              \
Type                   house townhouse unit       house   townhouse
Regionname
Southern Metropolitan  586.0     246.0    0  569.643881  278.858824
Western Metropolitan   531.0     198.0   62  507.883406  244.560669


Type                         unit
Regionname
Southern Metropolitan  466.380245
Western Metropolitan   557.637232

In [37]:
print(list(filtered_pivot.index))
# Чтобы получить индексы отфильтрованной таблицы, можно воспользоваться атрибутом index и обернуть результат в список

['Southern Metropolitan', 'Western Metropolitan']

#### Создание мультиииндексных таблиц вручную

In [39]:
import numpy as np
mser = pd.Series(
    np.random.rand(8),
    index=[['white','white','white','blue','blue','red','red','red'],
           ['up','down','right','up','down','up','down','left']])
print(mser)
print(mser.index)

white  up       0.676152
       down     0.823561
       right    0.652355
blue   up       0.036827
       down     0.653106
red    up       0.001119
       down     0.765874
       left     0.821787
dtype: float64
MultiIndex([('white',    'up'),
            ('white',  'down'),
            ('white', 'right'),
            ( 'blue',    'up'),
            ( 'blue',  'down'),
            (  'red',    'up'),
            (  'red',  'down'),
            (  'red',  'left')],
           )

In [41]:
mframe = pd.DataFrame(
    np.random.rand(16).reshape(4,4),
    index = [['white','white','red','red'],['up','down','up','down']],
    columns=[['pen','pen','paper','paper'],[1,2,1,2]]
)
print(mframe)

                 pen               paper
                   1         2         1         2
white up    0.289057  0.149718  0.683746  0.625456
      down  0.367011  0.456594  0.464266  0.939403
red   up    0.012476  0.182525  0.235024  0.014314
      down  0.182497  0.239618  0.449439  0.865748

#### Задание 4.2
##### Составьте сводную таблицу, которая показывает зависимость медианной площади (BuildingArea) здания от типа объекта недвижимости (Type) и количества жилых комнат в доме (Rooms). Для какой комбинации признаков площадь здания наибольшая? В качестве ответа запишите эту комбинацию (тип здания, число комнат) через запятую, без пробелов.

In [44]:
print(melb_df.pivot_table(
    values='BuildingArea',
    index='Type',
    columns='Rooms',
    aggfunc='median',
    fill_value=0
))

Rooms         1    2    3      4    5    6      7    8    10
Type
house      126.0  126  126  141.0  177  126  216.5  126  126
townhouse   88.0  114  126  159.5  152    0    0.0    0    0
unit        69.5  110  126  126.0    0  171    0.0  126    0

#### Задание 4.3
##### Составьте сводную таблицу, которая показывает зависимость медианной цены объекта недвижимости (Price) от риелторского агентства (SellerG) и типа здания (Type). Во вновь созданной таблице найдите агентство, у которого медианная цена для зданий типа unit максимальна. В качестве ответа запишите название этого агентства.

In [48]:
pivot_1 = melb_df.pivot_table(
    values='Price',
    index='SellerG',
    columns='Type',
    aggfunc='median',
    fill_value=0)
print(pivot_1)
max_unit_price = pivot_1['unit'].max()
print(pivot_1[pivot_1['unit'] == max_unit_price].index[0])

Type             house  townhouse    unit
SellerG
Alexkarbon     1036250     935000  560000
Barry           830000     727500  502000
Bells           692500     430500  457500
Biggin         1151750     675000  548000
Brad            875000     700000  465000
Buckingham      830000     820000  553000
Burnham         922500          0  305000
Buxton         1323750    1030000  670000
C21             836500     768750  625500
Cayzer         1505000    1450000  707500
Chisholm       1520000     950000  640000
Collins        1566500     930000  592000
Douglas         684000     500000  494500
Eview           760000     597500  602000
Fletchers      1390000    1238000  653000
Gary           1370000     993500  550000
Greg           1330000     900000  547500
HAR             695000          0  518000
Harcourts       740000     653750  500000
Hodges         1500000    1105000  605500
Jas             935000     699000  455000
Jellis         1505000    1052000  591750
Kay            2220000    1365000  695000
LITTLE          970000     800000  447000
Love            780000     846000  440000
Marshall       1975000    1408500  715000
McDonald       1242500          0  502500
McGrath        1250000     810000  542500
Miles          1090000     721500  555000
Moonee          806000     715000  622000
Nelson         1055000     730000  530000
Nick           2025000     780000  900000
Noel           1400500     990000  693250
O'Brien         737504     430000  618500
Philip         1035000     701000  636000
Purplebricks    810000     927500  582500
RT             1640000    1400000  630000
RW              870000     630500  625500
Raine           745000     608000  447500
Ray             900000     650000  497500
Rendina        1190000     750000  459000
Stockdale       715500     550000  410000
Sweeney         850000     728000  381000
Thomson        1177000     500000  495000
Village         973500     727500  420000
Williams       1161000     735000  577000
Woodards       1261000     865500  600000
YPA             596250     498500  443500
hockingstuart  1055000     935000  566000
other           901000     840500  535000
Nick