In [54]:
import pandas as pd
melb_data = pd.read_csv('D:\курс по data science\IDE\python_10\data\melb_data.csv',sep=',')
print(melb_data)

       index         Suburb           Address  Rooms Type      Price Method  \
0          0     Abbotsford      85 Turner St      2    h  1480000.0      S
1          1     Abbotsford   25 Bloomburg St      2    h  1035000.0      S
2          2     Abbotsford      5 Charles St      3    h  1465000.0     SP
3          3     Abbotsford  40 Federation La      3    h   850000.0     PI
4          4     Abbotsford       55a Park St      4    h  1600000.0     VB
...      ...            ...               ...    ...  ...        ...    ...
13575  13575  Wheelers Hill      12 Strada Cr      4    h  1245000.0      S
13576  13576   Williamstown     77 Merrett Dr      3    h  1031000.0     SP
13577  13577   Williamstown       83 Power St      3    h  1170000.0      S
13578  13578   Williamstown      96 Verdon St      4    h  2500000.0     PI
13579  13579     Yarraville        6 Agnes St      4    h  1285000.0     SP

        SellerG        Date  Distance  ...  Car  Landsize  BuildingArea  \
0        Biggin   3/12/2016       2.5  ...  1.0     202.0         126.0
1        Biggin   4/02/2016       2.5  ...  0.0     156.0          79.0
2        Biggin   4/03/2017       2.5  ...  0.0     134.0         150.0
3        Biggin   4/03/2017       2.5  ...  1.0      94.0         126.0
4        Nelson   4/06/2016       2.5  ...  2.0     120.0         142.0
...         ...         ...       ...  ...  ...       ...           ...
13575     Barry  26/08/2017      16.7  ...  2.0     652.0         126.0
13576  Williams  26/08/2017       6.8  ...  2.0     333.0         133.0
13577     Raine  26/08/2017       6.8  ...  4.0     436.0         126.0
13578   Sweeney  26/08/2017       6.8  ...  5.0     866.0         157.0
13579   Village  26/08/2017       6.3  ...  1.0     362.0         112.0

       YearBuilt  CouncilArea  Lattitude  Longtitude  \
0         1970.0        Yarra  -37.79960   144.99840
1         1900.0        Yarra  -37.80790   144.99340
2         1900.0        Yarra  -37.80930   144.99440
3         1970.0        Yarra  -37.79690   144.99690
4         2014.0        Yarra  -37.80720   144.99410
...          ...          ...        ...         ...
13575     1981.0          NaN  -37.90562   145.16761
13576     1995.0          NaN  -37.85927   144.87904
13577     1997.0          NaN  -37.85274   144.88738
13578     1920.0          NaN  -37.85908   144.89299
13579     1920.0          NaN  -37.81188   144.88449

                       Regionname  Propertycount           Coordinates
0           Northern Metropolitan         4019.0    -37.7996, 144.9984
1           Northern Metropolitan         4019.0    -37.8079, 144.9934
2           Northern Metropolitan         4019.0    -37.8093, 144.9944
3           Northern Metropolitan         4019.0    -37.7969, 144.9969
4           Northern Metropolitan         4019.0    -37.8072, 144.9941
...                           ...            ...                   ...
13575  South-Eastern Metropolitan         7392.0  -37.90562, 145.16761
13576        Western Metropolitan         6380.0  -37.85927, 144.87904
13577        Western Metropolitan         6380.0  -37.85274, 144.88738
13578        Western Metropolitan         6380.0  -37.85908, 144.89299
13579        Western Metropolitan         6543.0  -37.81188, 144.88449

[13580 rows x 23 columns]

In [55]:
print(melb_data.loc[15,'Price'])

1310000.0

In [56]:
print(melb_data.loc[90,'Date'])

10/09/2016

In [57]:
print(melb_data.loc[3521,'Landsize'])
print(melb_data.loc[1690,'Landsize'])
print(round((melb_data.loc[3521,'Landsize'])/(melb_data.loc[1690,'Landsize'])))

234.0
84.0
3

In [58]:
print(melb_data.head())

   index      Suburb           Address  Rooms Type      Price Method SellerG  \
0      0  Abbotsford      85 Turner St      2    h  1480000.0      S  Biggin
1      1  Abbotsford   25 Bloomburg St      2    h  1035000.0      S  Biggin
2      2  Abbotsford      5 Charles St      3    h  1465000.0     SP  Biggin
3      3  Abbotsford  40 Federation La      3    h   850000.0     PI  Biggin
4      4  Abbotsford       55a Park St      4    h  1600000.0     VB  Nelson

        Date  Distance  ...  Car  Landsize  BuildingArea  YearBuilt  \
0  3/12/2016       2.5  ...  1.0     202.0         126.0     1970.0
1  4/02/2016       2.5  ...  0.0     156.0          79.0     1900.0
2  4/03/2017       2.5  ...  0.0     134.0         150.0     1900.0
3  4/03/2017       2.5  ...  1.0      94.0         126.0     1970.0
4  4/06/2016       2.5  ...  2.0     120.0         142.0     2014.0

   CouncilArea  Lattitude  Longtitude             Regionname  Propertycount  \
0        Yarra   -37.7996    144.9984  Northern Metropolitan         4019.0
1        Yarra   -37.8079    144.9934  Northern Metropolitan         4019.0
2        Yarra   -37.8093    144.9944  Northern Metropolitan         4019.0
3        Yarra   -37.7969    144.9969  Northern Metropolitan         4019.0
4        Yarra   -37.8072    144.9941  Northern Metropolitan         4019.0

          Coordinates
0  -37.7996, 144.9984
1  -37.8079, 144.9934
2  -37.8093, 144.9944
3  -37.7969, 144.9969
4  -37.8072, 144.9941

[5 rows x 23 columns]

In [59]:
print(melb_data.tail(7))

       index         Suburb        Address  Rooms Type      Price Method  \
13573  13573       Werribee    5 Nuragi Ct      4    h   635000.0      S
13574  13574    Westmeadows     9 Black St      3    h   582000.0      S
13575  13575  Wheelers Hill   12 Strada Cr      4    h  1245000.0      S
13576  13576   Williamstown  77 Merrett Dr      3    h  1031000.0     SP
13577  13577   Williamstown    83 Power St      3    h  1170000.0      S
13578  13578   Williamstown   96 Verdon St      4    h  2500000.0     PI
13579  13579     Yarraville     6 Agnes St      4    h  1285000.0     SP

             SellerG        Date  Distance  ...  Car  Landsize  BuildingArea  \
13573  hockingstuart  26/08/2017      14.7  ...  1.0     662.0         172.0
13574            Red  26/08/2017      16.5  ...  2.0     256.0         126.0
13575          Barry  26/08/2017      16.7  ...  2.0     652.0         126.0
13576       Williams  26/08/2017       6.8  ...  2.0     333.0         133.0
13577          Raine  26/08/2017       6.8  ...  4.0     436.0         126.0
13578        Sweeney  26/08/2017       6.8  ...  5.0     866.0         157.0
13579        Village  26/08/2017       6.3  ...  1.0     362.0         112.0

       YearBuilt  CouncilArea  Lattitude  Longtitude  \
13573     1980.0          NaN  -37.89327   144.64789
13574     1970.0          NaN  -37.67917   144.89390
13575     1981.0          NaN  -37.90562   145.16761
13576     1995.0          NaN  -37.85927   144.87904
13577     1997.0          NaN  -37.85274   144.88738
13578     1920.0          NaN  -37.85908   144.89299
13579     1920.0          NaN  -37.81188   144.88449

                       Regionname  Propertycount           Coordinates
13573        Western Metropolitan        16166.0  -37.89327, 144.64789
13574       Northern Metropolitan         2474.0   -37.67917, 144.8939
13575  South-Eastern Metropolitan         7392.0  -37.90562, 145.16761
13576        Western Metropolitan         6380.0  -37.85927, 144.87904
13577        Western Metropolitan         6380.0  -37.85274, 144.88738
13578        Western Metropolitan         6380.0  -37.85908, 144.89299
13579        Western Metropolitan         6543.0  -37.81188, 144.88449

[7 rows x 23 columns]

In [60]:
melb_data.shape

(13580, 23)

In [61]:
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  float64
 12  Bathroom       13580 non-null  float64
 13  Car            13580 non-null  float64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  float64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
dtypes: float64(11), int64(3), object(9)
memory usage: 2.4+ MB

In [62]:
melb_data['Car'] =melb_data['Car'].astype('int64')
melb_data['Bedroom'] =melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] =melb_data['Bathroom'].astype('int64')
melb_data['Prpertycount'] =melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] =melb_data['YearBuilt'].astype('int64')
melb_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
 23  Prpertycount   13580 non-null  int64
dtypes: float64(7), int64(8), object(9)
memory usage: 2.5+ MB

In [63]:
melb_data.describe().loc[:, ['Distance','BuildingArea','Price']]

           Distance  BuildingArea         Price
count  13580.000000  13580.000000  1.358000e+04
mean      10.137776    139.633972  1.075684e+06
std        5.868725    392.217403  6.393107e+05
min        0.000000      0.000000  8.500000e+04
25%        6.100000    122.000000  6.500000e+05
50%        9.200000    126.000000  9.030000e+05
75%       13.000000    129.940000  1.330000e+06
max       48.100000  44515.000000  9.000000e+06

In [64]:
melb_data.describe(include=['object'])

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,13580,13580,13580,13580,13580,13580,12211,13580,13580
unique,314,13378,3,5,268,58,33,8,13097
top,Reservoir,36 Aberfeldie St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan,"-37.8361, 144.9966"
freq,359,3,9449,9022,1565,473,1163,4695,12

In [65]:
melb_data['Regionname'].value_counts()

Southern Metropolitan         4695
Northern Metropolitan         3890
Western Metropolitan          2948
Eastern Metropolitan          1471
South-Eastern Metropolitan     450
Eastern Victoria                53
Northern Victoria               41
Western Victoria                32
Name: Regionname, dtype: int64

In [66]:
melb_data['Regionname'].value_counts(normalize=True)

Southern Metropolitan         0.345729
Northern Metropolitan         0.286451
Western Metropolitan          0.217084
Eastern Metropolitan          0.108321
South-Eastern Metropolitan    0.033137
Eastern Victoria              0.003903
Northern Victoria             0.003019
Western Victoria              0.002356
Name: Regionname, dtype: float64

In [67]:
melb_data['CouncilArea'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 13580 entries, 0 to 13579
Series name: CouncilArea
Non-Null Count  Dtype
--------------  -----
12211 non-null  object
dtypes: object(1)
memory usage: 106.2+ KB

In [68]:
melb_data['CouncilArea'].value_counts(dropna=False)

NaN                  1369
Moreland             1163
Boroondara           1160
Moonee Valley         997
Darebin               934
Glen Eira             848
Stonnington           719
Maribyrnong           692
Yarra                 647
Port Phillip          628
Banyule               594
Bayside               489
Melbourne             470
Hobsons Bay           434
Brimbank              424
Monash                333
Manningham            311
Whitehorse            304
Kingston              207
Whittlesea            167
Hume                  164
Wyndham                86
Knox                   80
Maroondah              80
Melton                 66
Frankston              53
Greater Dandenong      52
Casey                  38
Nillumbik              36
Yarra Ranges           18
Cardinia                8
Macedon Ranges          7
Unavailable             1
Moorabool               1
Name: CouncilArea, dtype: int64

In [69]:
melb_data['Type'].value_counts(normalize=True)

h    0.695803
u    0.222165
t    0.082032
Name: Type, dtype: float64

In [70]:
melb_data['Type'].value_counts()

h    9449
u    3017
t    1114
Name: Type, dtype: int64

In [71]:
melb_data.describe().loc[:, ['Distance','BuildingArea','Price']]

           Distance  BuildingArea         Price
count  13580.000000  13580.000000  1.358000e+04
mean      10.137776    139.633972  1.075684e+06
std        5.868725    392.217403  6.393107e+05
min        0.000000      0.000000  8.500000e+04
25%        6.100000    122.000000  6.500000e+05
50%        9.200000    126.000000  9.030000e+05
75%       13.000000    129.940000  1.330000e+06
max       48.100000  44515.000000  9.000000e+06

In [72]:
print(melb_data['Price'].mean())

1075684.079455081

In [73]:
print(melb_data['Car'].max())

10

In [74]:
rate = 0.12
income = melb_data['Price'].sum()*rate
print('Total income of real estate agencies:', round(income,2))

Total income of real estate agencies: 1752934775.88

In [75]:
landsize_median = melb_data['Landsize'].median()
landsize_mean = melb_data['Landsize'].mean()
print(abs(landsize_median - landsize_mean)/landsize_mean)

0.21205713983546193

In [76]:
print(melb_data['Rooms'].mode())

0    3
Name: Rooms, dtype: int64

In [77]:
print(melb_data['Regionname'].mode())

0    Southern Metropolitan
Name: Regionname, dtype: object

In [78]:
print(melb_data['Landsize'].std())
print(melb_data['Price'].std())
print(melb_data['Date'].std())
print(melb_data['Type'].std())

3990.6692411090316
639310.724296018

TypeError: could not convert string to float: '3/12/2016'

In [ ]:
print(melb_data['Propertycount'].max())

21650.0

In [ ]:
print(melb_data['Distance'].std())

5.868724943071711

In [ ]:
area_median = melb_data['BuildingArea'].median()
area_mean = melb_data['BuildingArea'].mean()
deviance = (abs(area_median - area_mean)/area_mean) # отклонение медианного 
# значения площади здания от его среднего значения
print(round(deviance*100))

10

In [ ]:
print(melb_data['Bedroom'].mode())

0    3
Name: Bedroom, dtype: int64

In [79]:
mask = melb_data['Price']>2000000
print(mask)

0        False
1        False
2        False
3        False
4        False
         ...
13575    False
13576    False
13577    False
13578     True
13579    False
Name: Price, Length: 13580, dtype: bool

In [80]:
display(melb_data[mask].head())

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates,Prpertycount
80,80,Albert Park,112 Beaconsfield Pde,3,h,2850000.0,PI,Buxton,4/03/2017,3.3,...,211.0,198.0,1890,Port Phillip,-37.8481,144.9499,Southern Metropolitan,3280.0,"-37.8481, 144.9499",3280
85,85,Albert Park,104 Richardson St,4,h,2300000.0,S,Marshall,7/05/2016,3.3,...,153.0,180.0,1880,Port Phillip,-37.8447,144.9523,Southern Metropolitan,3280.0,"-37.8447, 144.9523",3280
88,88,Albert Park,29 Faussett St,2,h,2120000.0,S,Greg,10/09/2016,3.3,...,199.0,107.0,1900,Port Phillip,-37.8422,144.9554,Southern Metropolitan,3280.0,"-37.8422, 144.9554",3280
92,92,Albert Park,2 Dundas Pl,3,h,2615000.0,S,Cayzer,10/12/2016,3.3,...,177.0,181.0,1880,Port Phillip,-37.8415,144.9585,Southern Metropolitan,3280.0,"-37.8415, 144.9585",3280
93,93,Albert Park,23 Finlay St,5,h,2100000.0,S,Greg,10/12/2016,3.3,...,237.0,126.0,1970,Port Phillip,-37.8436,144.9557,Southern Metropolitan,3280.0,"-37.8436, 144.9557",3280

In [ ]:
print(melb_data[melb_data['Rooms'] == 3].shape[0])

5881

In [ ]:
print(melb_data[((melb_data['Rooms'] == 3) | (melb_data['BuildingArea']>100))&(melb_data['Price']<300000)].shape[0])

68

In [ ]:
# найдём медианную площадь здания у объектов, чья цена выше средней

mean_price = melb_data['Price'].mean()
print(melb_data[melb_data['Price']>mean_price]['BuildingArea'].median())

126.0

In [ ]:
print(melb_data[melb_data['Bathroom'] == 0].shape[0])

34

In [ ]:
print(melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price']>3000000)].shape[0])

5

In [ ]:
print(melb_data[(melb_data['BuildingArea']==0)]['Price'].min())

412500.0

In [ ]:
print(melb_data[(melb_data['Price']<1e6) & ((melb_data['Rooms']>5) | (melb_data['YearBuilt']>2015))]['Price'].mean())

769238.6363636364

In [ ]:
print(melb_data[(melb_data['Price']<3e6)&(melb_data['Type'] == 'h')]['Regionname'].mode())

0    Northern Metropolitan
Name: Regionname, dtype: object