# Импорт данных

In [58]:
import pandas as pd
citibike_tripdata = pd.read_csv('D:\курс по data science\IDE\python_11\data\citibike-tripdata.csv', sep=',')
print(citibike_tripdata.head())

                  starttime                  stoptime  start station id  \
0  2018-09-01 00:00:05.2690  2018-09-01 00:27:20.6340             252.0
1  2018-09-01 00:00:11.2810  2018-09-01 00:02:23.4810             314.0
2  2018-09-01 00:00:20.6490  2018-09-01 00:55:58.5470            3142.0
3  2018-09-01 00:00:21.7460  2018-09-01 00:07:38.5830             308.0
4  2018-09-01 00:00:27.3150  2018-09-01 02:21:25.3080             345.0

                start station name  start station latitude  \
0     MacDougal St & Washington Sq               40.732264
1  Cadman Plaza West & Montague St               40.693830
2                  1 Ave & E 62 St               40.761227
3          St James Pl & Oliver St               40.713079
4                  W 13 St & 6 Ave               40.736494

   start station longitude  end station id            end station name  \
0               -73.998522           366.0    Clinton Ave & Myrtle Ave
1               -73.990539          3242.0  Schermerhorn St & Court St
2               -73.960940          3384.0             Smith St & 3 St
3               -73.998512          3690.0         Park Pl & Church St
4               -73.997044           380.0            W 4 St & 7 Ave S

   end station latitude  end station longitude  bikeid    usertype  \
0             40.693261             -73.968896   25577  Subscriber
1             40.691029             -73.991834   34377  Subscriber
2             40.678724             -73.995991   30496  Subscriber
3             40.713342             -74.009355   28866  Subscriber
4             40.734011             -74.002939   20943    Customer

   birth year  gender
0        1980       1
1        1969       0
2        1975       1
3        1984       2
4        1994       1

## Создание копии таблицы

In [59]:
biketrip_df = citibike_tripdata.copy()
print(biketrip_df.head())

                  starttime                  stoptime  start station id  \
0  2018-09-01 00:00:05.2690  2018-09-01 00:27:20.6340             252.0
1  2018-09-01 00:00:11.2810  2018-09-01 00:02:23.4810             314.0
2  2018-09-01 00:00:20.6490  2018-09-01 00:55:58.5470            3142.0
3  2018-09-01 00:00:21.7460  2018-09-01 00:07:38.5830             308.0
4  2018-09-01 00:00:27.3150  2018-09-01 02:21:25.3080             345.0

                start station name  start station latitude  \
0     MacDougal St & Washington Sq               40.732264
1  Cadman Plaza West & Montague St               40.693830
2                  1 Ave & E 62 St               40.761227
3          St James Pl & Oliver St               40.713079
4                  W 13 St & 6 Ave               40.736494

   start station longitude  end station id            end station name  \
0               -73.998522           366.0    Clinton Ave & Myrtle Ave
1               -73.990539          3242.0  Schermerhorn St & Court St
2               -73.960940          3384.0             Smith St & 3 St
3               -73.998512          3690.0         Park Pl & Church St
4               -73.997044           380.0            W 4 St & 7 Ave S

   end station latitude  end station longitude  bikeid    usertype  \
0             40.693261             -73.968896   25577  Subscriber
1             40.691029             -73.991834   34377  Subscriber
2             40.678724             -73.995991   30496  Subscriber
3             40.713342             -74.009355   28866  Subscriber
4             40.734011             -74.002939   20943    Customer

   birth year  gender
0        1980       1
1        1969       0
2        1975       1
3        1984       2
4        1994       1

### Задание 6.1
#### Сколько пропусков в столбце start station id?

In [60]:
print(biketrip_df['start station id'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: start station id
Non-Null Count   Dtype
--------------   -----
299831 non-null  float64
dtypes: float64(1)
memory usage: 2.3 MB
None

### Задание 6.2
#### Какой тип данных имеют столбцы starttime и stoptime?

In [61]:
print(biketrip_df['starttime'].info())
print(biketrip_df['stoptime'].info())

<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: starttime
Non-Null Count   Dtype
--------------   -----
300000 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB
None
<class 'pandas.core.series.Series'>
RangeIndex: 300000 entries, 0 to 299999
Series name: stoptime
Non-Null Count   Dtype
--------------   -----
300000 non-null  object
dtypes: object(1)
memory usage: 2.3+ MB
None

### Задание 6.3
#### Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.

In [62]:
print(biketrip_df['start station id'].mode())

0    281.0
Name: start station id, dtype: float64

### Задание 6.4
#### Велосипед с каким идентификатором является самым популярным?

In [63]:
print(biketrip_df['bikeid'].mode())

0    33887
Name: bikeid, dtype: int64

### Задание 6.5
#### Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.

In [64]:
print(biketrip_df['usertype'].value_counts(normalize=True))

Subscriber    0.774007
Customer      0.225993
Name: usertype, dtype: float64

### Задание 6.6
#### Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.

In [65]:
print(biketrip_df['gender'].value_counts())

1    183582
2     74506
0     41912
Name: gender, dtype: int64

### Задание 6.7

In [66]:
print(biketrip_df['start station id'].describe())
print(biketrip_df['end station id'].describe())

count    299831.000000
mean       1695.665665
std        1458.264055
min          72.000000
25%         387.000000
50%         519.000000
75%        3282.000000
max        3705.000000
Name: start station id, dtype: float64
count    299831.000000
mean       1684.624298
std        1457.549589
min          72.000000
25%         387.000000
50%         519.000000
75%        3282.000000
max        3705.000000
Name: end station id, dtype: float64

In [67]:
print(biketrip_df['birth year'].describe())

count    300000.000000
mean       1979.364803
std          11.920796
min        1885.000000
25%        1969.000000
50%        1982.000000
75%        1989.000000
max        2002.000000
Name: birth year, dtype: float64

In [68]:
print(biketrip_df['start station name'].value_counts())
print(biketrip_df['end station name'].value_counts())

Grand Army Plaza & Central Park S    1928
Central Park S & 6 Ave               1909
Pershing Square North                1873
12 Ave & W 40 St                     1845
West St & Chambers St                1835
                                     ...
NYCBS Depot - GOW                      15
Franklin Ave & Empire Blvd             11
Railroad Ave & Kay Ave                  9
47 Ave & Skillman Ave                   7
Eastern Pkwy & Washington Ave           6
Name: start station name, Length: 759, dtype: int64
West St & Chambers St          1963
12 Ave & W 40 St               1909
Pershing Square North          1850
Central Park S & 6 Ave         1828
E 17 St & Broadway             1804
                               ...
Exchange Place                    3
Union St                          1
Warren St                         1
Montrose Ave & Bushwick Ave       1
Liberty Light Rail                1
Name: end station name, Length: 765, dtype: int64

### Задание 6.8
#### В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором и названием стартовой и конечной стоянки. Удалите признаки идентификаторов стоянок. Сколько столбцов осталось

In [69]:
biketrip_df.drop(['start station id', 'end station id'],axis=1, inplace=True)
print(biketrip_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB
None

### Задание 6.9
#### Замените признак birth year на более понятный признак возраста клиента age. Годом отсчёта возраста выберите 2018 год. Столбец birth year удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?

In [70]:
biketrip_df['age'] = 2018 - biketrip_df['birth year']
biketrip_df.drop(['birth year'], axis=1, inplace=True)
print(biketrip_df[biketrip_df['age']>60].shape[0])

11837

### Задание 6.10
#### Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и её началом (starttime). Сколько целых минут длилась поездка под индексом 3 в таблице?

In [76]:
biketrip_df['starttime'] = pd.to_datetime(biketrip_df['starttime'])
biketrip_df['stoptime'] = pd.to_datetime(biketrip_df['stoptime'])
biketrip_df['trip duration'] = biketrip_df['stoptime'] - biketrip_df['starttime']
print(biketrip_df.loc[3, 'trip duration'])

0 days 00:07:16.837000

### Задание 6.11
#### Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.

In [78]:
weekday = biketrip_df['starttime'].dt.dayofweek
biketrip_df['weekend'] = weekday.apply(lambda x: 1 if x == 5 or x == 6 else 0)
print(biketrip_df['weekend'].sum())

115135

### Задание 6.12
#### Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:
- поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
- поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
- поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
- поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).
#### Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целых.

In [79]:
def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    elif 18 < time <= 23:
        return 'evening'
    else:
        return 'else'

biketrip_df['time_of_day'] = biketrip_df['starttime'].dt.hour.apply(get_time_of_day)
day = biketrip_df[biketrip_df['time_of_day'] == 'day'].shape[0]
night = biketrip_df[biketrip_df['time_of_day'] == 'night'].shape[0]
print(round(day/night))

9