In [3]:
import pandas as pd
melb_data = pd.read_csv('D:\курс по data science\IDE\python_11\data\melb_data_ps.csv', sep=',')
print(melb_data.head())

   index      Suburb           Address  Rooms Type      Price Method SellerG  \
0      0  Abbotsford      85 Turner St      2    h  1480000.0      S  Biggin
1      1  Abbotsford   25 Bloomburg St      2    h  1035000.0      S  Biggin
2      2  Abbotsford      5 Charles St      3    h  1465000.0     SP  Biggin
3      3  Abbotsford  40 Federation La      3    h   850000.0     PI  Biggin
4      4  Abbotsford       55a Park St      4    h  1600000.0     VB  Nelson

        Date  Distance  ...  Car  Landsize  BuildingArea  YearBuilt  \
0  3/12/2016       2.5  ...    1     202.0         126.0       1970
1  4/02/2016       2.5  ...    0     156.0          79.0       1900
2  4/03/2017       2.5  ...    0     134.0         150.0       1900
3  4/03/2017       2.5  ...    1      94.0         126.0       1970
4  4/06/2016       2.5  ...    2     120.0         142.0       2014

   CouncilArea  Lattitude  Longtitude             Regionname  Propertycount  \
0        Yarra   -37.7996    144.9984  Northern Metropolitan           4019
1        Yarra   -37.8079    144.9934  Northern Metropolitan           4019
2        Yarra   -37.8093    144.9944  Northern Metropolitan           4019
3        Yarra   -37.7969    144.9969  Northern Metropolitan           4019
4        Yarra   -37.8072    144.9941  Northern Metropolitan           4019

          Coordinates
0  -37.7996, 144.9984
1  -37.8079, 144.9934
2  -37.8093, 144.9944
3  -37.7969, 144.9969
4  -37.8072, 144.9941

[5 rows x 23 columns]

## 2. Базовые операции со столбцами в DataFrame

### Создание копии таблицы

In [4]:
melb_df = melb_data.copy()
print(melb_df.head())

   index      Suburb           Address  Rooms Type      Price Method SellerG  \
0      0  Abbotsford      85 Turner St      2    h  1480000.0      S  Biggin
1      1  Abbotsford   25 Bloomburg St      2    h  1035000.0      S  Biggin
2      2  Abbotsford      5 Charles St      3    h  1465000.0     SP  Biggin
3      3  Abbotsford  40 Federation La      3    h   850000.0     PI  Biggin
4      4  Abbotsford       55a Park St      4    h  1600000.0     VB  Nelson

        Date  Distance  ...  Car  Landsize  BuildingArea  YearBuilt  \
0  3/12/2016       2.5  ...    1     202.0         126.0       1970
1  4/02/2016       2.5  ...    0     156.0          79.0       1900
2  4/03/2017       2.5  ...    0     134.0         150.0       1900
3  4/03/2017       2.5  ...    1      94.0         126.0       1970
4  4/06/2016       2.5  ...    2     120.0         142.0       2014

   CouncilArea  Lattitude  Longtitude             Regionname  Propertycount  \
0        Yarra   -37.7996    144.9984  Northern Metropolitan           4019
1        Yarra   -37.8079    144.9934  Northern Metropolitan           4019
2        Yarra   -37.8093    144.9944  Northern Metropolitan           4019
3        Yarra   -37.7969    144.9969  Northern Metropolitan           4019
4        Yarra   -37.8072    144.9941  Northern Metropolitan           4019

          Coordinates
0  -37.7996, 144.9984
1  -37.8079, 144.9934
2  -37.8093, 144.9944
3  -37.7969, 144.9969
4  -37.8072, 144.9941

[5 rows x 23 columns]

### Удаление столбцов из таблицы

In [5]:
melb_df.drop(['index', 'Coordinates'], axis=1, inplace=True)
print(melb_df.head())

       Suburb           Address  Rooms Type      Price Method SellerG  \
0  Abbotsford      85 Turner St      2    h  1480000.0      S  Biggin
1  Abbotsford   25 Bloomburg St      2    h  1035000.0      S  Biggin
2  Abbotsford      5 Charles St      3    h  1465000.0     SP  Biggin
3  Abbotsford  40 Federation La      3    h   850000.0     PI  Biggin
4  Abbotsford       55a Park St      4    h  1600000.0     VB  Nelson

        Date  Distance  Postcode  ...  Bathroom  Car  Landsize  BuildingArea  \
0  3/12/2016       2.5      3067  ...         1    1     202.0         126.0
1  4/02/2016       2.5      3067  ...         1    0     156.0          79.0
2  4/03/2017       2.5      3067  ...         2    0     134.0         150.0
3  4/03/2017       2.5      3067  ...         2    1      94.0         126.0
4  4/06/2016       2.5      3067  ...         1    2     120.0         142.0

   YearBuilt  CouncilArea Lattitude  Longtitude             Regionname  \
0       1970        Yarra  -37.7996    144.9984  Northern Metropolitan
1       1900        Yarra  -37.8079    144.9934  Northern Metropolitan
2       1900        Yarra  -37.8093    144.9944  Northern Metropolitan
3       1970        Yarra  -37.7969    144.9969  Northern Metropolitan
4       2014        Yarra  -37.8072    144.9941  Northern Metropolitan

  Propertycount
0          4019
1          4019
2          4019
3          4019
4          4019

[5 rows x 21 columns]

### Математические операции со столбцами

#### Общее количество комнат в здании

In [6]:
total_rooms = melb_df['Rooms'] + melb_df['Bedroom'] + melb_df['Bathroom']
print(total_rooms)

0         5
1         5
2         8
3         8
4         8
         ..
13575    10
13576     8
13577     8
13578     9
13579     9
Length: 13580, dtype: int64

#### Средняя площадь одной комнаты для каждого объекта

In [7]:
melb_df['MeanRoomsSquare'] = melb_df['BuildingArea']/total_rooms
print(melb_df['MeanRoomsSquare'])

0        25.200000
1        15.800000
2        18.750000
3        15.750000
4        17.750000
           ...
13575    12.600000
13576    16.625000
13577    15.750000
13578    17.444444
13579    12.444444
Name: MeanRoomsSquare, Length: 13580, dtype: float64

#### Коэффициент соотношения площади здания и площади участка

In [8]:
diff_area = melb_df['BuildingArea'] - melb_df['Landsize']
sum_area = melb_df['BuildingArea'] + melb_df['Landsize']
melb_df['AreaRatio'] = diff_area/sum_area
print(melb_df['AreaRatio'])

0       -0.231707
1       -0.327660
2        0.056338
3        0.145455
4        0.083969
           ...
13575   -0.676093
13576   -0.429185
13577   -0.551601
13578   -0.693060
13579   -0.527426
Name: AreaRatio, Length: 13580, dtype: float64

#### Квадрат цены объекта недвижимости

In [9]:
price_square = melb_df['Price']**2
print(price_square)

0        2.190400e+12
1        1.071225e+12
2        2.146225e+12
3        7.225000e+11
4        2.560000e+12
             ...
13575    1.550025e+12
13576    1.062961e+12
13577    1.368900e+12
13578    6.250000e+12
13579    1.651225e+12
Name: Price, Length: 13580, dtype: float64

## 3. Работа с датами в DataFrame

### Формат datatime

In [10]:
print(melb_df['Date'])

0         3/12/2016
1         4/02/2016
2         4/03/2017
3         4/03/2017
4         4/06/2016
            ...
13575    26/08/2017
13576    26/08/2017
13577    26/08/2017
13578    26/08/2017
13579    26/08/2017
Name: Date, Length: 13580, dtype: object

In [11]:
melb_data['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
print(melb_df['Date'])

0         3/12/2016
1         4/02/2016
2         4/03/2017
3         4/03/2017
4         4/06/2016
            ...
13575    26/08/2017
13576    26/08/2017
13577    26/08/2017
13578    26/08/2017
13579    26/08/2017
Name: Date, Length: 13580, dtype: object

In [12]:
date = pd.to_datetime(melb_df['Date'], dayfirst=True)
print(date)

0       2016-12-03
1       2016-02-04
2       2017-03-04
3       2017-03-04
4       2016-06-04
           ...
13575   2017-08-26
13576   2017-08-26
13577   2017-08-26
13578   2017-08-26
13579   2017-08-26
Name: Date, Length: 13580, dtype: datetime64[ns]

### Выделение атрибутов datetime

#### За какой интервал времени (в годах) представлены наши данные, а также на какой год приходится наибольшее число продаж?

In [27]:
years_sold = date.dt.year
print(years_sold)

0        2016
1        2016
2        2017
3        2017
4        2016
         ...
13575    2017
13576    2017
13577    2017
13578    2017
13579    2017
Name: Date, Length: 13580, dtype: int64

In [29]:
print('Min years sold:', years_sold.min())
print('Max years sold:', years_sold.max())
print('Mode years sold:', years_sold.mode()[0])

Min years sold: 2016
Max years sold: 2017
Mode years sold: 2017

#### На какие месяцы приходится пик продаж объектов недвижимости? Относительная частота продаж для каждого месяца от общего количества продаж

In [32]:
melb_df['MonthSale'] = date.dt.month
melb_df['MonthSale'].value_counts(normalize=True)

5     0.149411
7     0.145950
9     0.135862
6     0.134757
8     0.114138
11    0.082032
4     0.069882
3     0.049926
12    0.044698
10    0.040574
2     0.032622
1     0.000147
Name: MonthSale, dtype: float64

### Работа с интервалами

#### Сколько дней прошло с 1 января 2016 года до момента продажи объекта?

In [33]:
delta_days = date - pd.to_datetime('2016-01-01')
print(delta_days)

0       337 days
1        34 days
2       428 days
3       428 days
4       155 days
          ...
13575   603 days
13576   603 days
13577   603 days
13578   603 days
13579   603 days
Name: Date, Length: 13580, dtype: timedelta64[ns]

In [34]:
print(delta_days.dt.days)

0        337
1         34
2        428
3        428
4        155
        ...
13575    603
13576    603
13577    603
13578    603
13579    603
Name: Date, Length: 13580, dtype: int64

#### признак возраста объекта недвижимости в годах на момент продажи

In [35]:
melb_df['AgeBuilding'] = date.dt.year - melb_df['YearBuilt']
print(melb_df['AgeBuilding'])

0         46
1        116
2        117
3         47
4          2
        ...
13575     36
13576     22
13577     20
13578     97
13579     97
Name: AgeBuilding, Length: 13580, dtype: int64

##### столбец AgeBuilding дублирует информацию столбца YearBuilt, так как, зная год постройки здания, мы автоматически знаем его возраст. Необходимо убрать один столбец